:root {
  --background-color: #0a2640;
  --color1: #ffffff;
  --color2: #f1f1f1;
  --font-open-sans: "Open Sans";
  --font-manrope: "Manrope";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
